/* Theme Variables */

/* Colors */
@primary-color: #10a37f;
@background-color: #f3f4f6;
@component-background: #ffffff;
@border-color: #e5e7eb;
@text-color-primary: #111827;
@text-color-secondary: #4b5563;
@text-color-tertiary: #6b7280;
@text-color-inverse: #ffffff;

/* Font Sizes */
@font-size-xxlarge: 40px;
@font-size-xlarge: 32px;
@font-size-large: 28px;
@font-size-medium: 24px;
@font-size-small: 22px;
@font-size-xsmall: 18px;

/* Spacing */
@spacing-xlarge: 24px;
@spacing-large: 20px;
@spacing-medium: 16px;
@spacing-small: 12px;
@spacing-xsmall: 8px;
