* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.homepage {
    display:flex;
    flex-direction: column;
    height: 100vh; /* Added to make the container fill the viewport height */
}

.homepage-header {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.homepage-content{
    flex-grow:1;
    background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url("assets/poster.jpeg");
    background-size: cover; /* This will make the image cover the entire div */
    background-position: center; /* This will center the image */
    background-repeat: no-repeat; /* This will prevent the image from repeating */


}

.homepage-input-area {
    margin-top: auto;
}
.homepage-input-area__text-input {
    background-color: aliceblue;
    height: 50px;
}

.homepage-input-area__tools {
    display:flex;
}